  #sidebar-wrapper {
      z-index: 6;
      position: absolute;
      left: 250px;
      width: 250px;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background: #000;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 20px 5px;
  }
  .sidebar-toggle {
      height: 100%;
      width: 20px;
      background-color: #000;
      color: #fff;
      padding: 50px 3px;
      position: absolute;
      left: 0px;
      top: 56px;
      z-index: 6;
  }

  #sidebar-wrapper ul.list-unstyled.help {
    font-size: 12px;
    padding: 5px 5px 5px 22px;
    color: #ddd;
}
#sidebar-wrapper ul.list-unstyled.help li{
    padding-bottom: 10px;
}

.popover.bs-popover-auto[x-placement^=right] .arrow, .popover.bs-popover-right .arrow {
    top: 50px;
}
.popover.bs-popover-right.bs-popover-right-docs {
    right: 54px;
    top: 116px;
    left: auto;
    width: 260px;
}
#nodeOptionPopOver{
    visibility: hidden;
}