/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 56px;
  
}
.graph-paper {
  background-color: #ffffff;
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(rgba(221,221,221, 0.5) 2px, transparent 2px), -webkit-linear-gradient(0, rgba(221,221,221, 0.5) 2px, transparent 2px), -webkit-linear-gradient(rgba(221,221,221, 0.5) 1px, transparent 1px), -webkit-linear-gradient(0, rgba(221,221,221, 0.5) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(221,221,221, 0.5) 1px, transparent 1px), -moz-linear-gradient(0, rgba(221,221,221, 0.5) 1px, transparent 1px), -moz-linear-gradient(rgba(221,221,221, 0.5) 1px, transparent 1px), -moz-linear-gradient(0, rgba(221,221,221, 0.5) 1px, transparent 1px);
  background-image: linear-gradient(rgba(221,221,221, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(221,221,221, 0.5) 1px, transparent 1px), linear-gradient(rgba(221,221,221, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(221,221,221, 0.5) 1px, transparent 1px);
}

  
  .conceptG text{
    pointer-events: none;
  }
  
  marker{
    fill: #333;
  }
  
  g.conceptG circle{
    fill: #ffffff;
    stroke: #b6b7b8;
    stroke-width: 6px;
    
  }
  
  g.conceptG:hover circle{
    fill: #ffffff;
    stroke:#4386c5;
  }
  
  g.selected circle{
    stroke:#4386c5;
  }
  g.selected:hover circle{
    stroke:#4386c5;
  }
  
  path.link {
    fill: none;
    stroke: #b6b7b8;
    stroke-width: 6px;
    cursor: default;
  }
  
  path.link:hover{
    stroke: #b6b7b8;
  }
  
  g.connect-node circle{
    fill: #BEFFFF;
  }
  
  path.link.hidden{
    stroke-width: 0;
  }
  
  path.link.selected {
    stroke: #b6b7b8;
  }
  marker {
    fill: #b6b7b8;
  }
  marker:hover {
    fill: #b6b7b8;
  }
  